/* Imports */
/* @import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css"); */

/* Text styling */
p {
	font: 1.4em cambria;
}

.cambria {
	font-family: cambria;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}

.indented {
	text-indent: 1.5em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.marginauto {
    margin: 10px auto 20px;
    display: block;
}

/* Nav bar styling */
.nav-item {
	margin-right: 0.5em;
	margin-left: 0.5em;
}

/* About page styling */
.profile_image {
	height: 400px;
	/*height: 300px;*/
	border-radius: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.profile_name {
	font: bold 2.2em cambria;
}

p.about_details {
	text-indent: 1.5em;
}